.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
}

.login-box {
  width: 40vw;
  height: 40vw;
  max-width: 650px;
  background-color: gray;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;

  border-radius: 10px;
}

.Title{
    color: black;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Bottom{
    /* color: var(--foreground); */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 2;
}

.login, .signup{
  color: black;
  background-color: blue;
  flex: 1;
  border-radius: 5px;
}

.login:active,
.signup:active{
  opacity: 50%;
}
.login{
  color: black;
  background-color: blue;
  /* padding: 10px; */
}

.signup{
  color: black;
  background-color: blue;
  /* padding: 10px; */
}

